.noto-serif-noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
.card-baccha{
    display: none;
}
.whole-code{
    justify-items: center;
    
}

.width-margin{
    margin:auto 150px;
    width: 1140px;
}
.text-big{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;

}
.text-small{
font-size: 22px;
color: rgba(0, 0, 0, 0.5);
 font-family: "Inter", sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 71px;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
   
}
.head-left{
    width: 135px;
    height: 82px;

}
.head-right{
    display: grid;
    grid-template-columns: repeat(4,31%); 
    width: 420px;
    font-size: 22px;
    list-style: none;
    height: 60px;
    margin-right: 14%;
    margin-top:40px ;
}
.text-colour{
    color: #E95A08;
}
.first-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
   margin-top: 200px;
  
   height: 461px;
  
 
   justify-content: center;
   
   justify-items: center;
   
}
.left-hero{
    
  
   
}
.bold-font{
font-size: 65px; 
  font-weight: bold;
}

.right-hero{
    
     height: 350px;
    width: 570px;
    padding left:570px ;
    padding-top: 106px;
}
.carder-upore{
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.card-text{
    text-align: center;
    margin: 8px 126px;
}
.cards-father{
    display: grid;
    grid-template-columns: repeat(4,270px);
    gap: 18px;
  
    
}
.card{
  border: none;
   width: 270px;
    height: 485px;
    
}
.card-img{
    height: 323px;
    width: 270px;
}
.lily{
    margin-top: 30px;
    justify-items: center;
   
}
.lily .text-small{
 color: black;
}

.text{
    font-weight: bold;
margin-top: 20px;
height: 16px;
justify-items: center;


}
.text .text-small{
color: black;
}
.button{
    background-color: #E95A08;
    border: none;
    width: 270px;
    height: 50px;
  margin-top: 18px;
}
.btn-div{
  
  
}
.btn-txt{
    font-size: 16px;
    color: white;
}
.trust-img{
    position: absolute;
    height: 280px;
    width: 280px;
    border: 2px solid bisque;
 z-index: 2;
    margin-left: 560px;
    margin-right: 560px;
    margin-top: 30px;
    margin-bottom: -400px;
   
}

.lover-section{
    height: 590px;
    display: flex;
    gap: 65px;
    margin-top: 220px;
    z-index: 1;
}
.lover-section .text-big
{ font-family: "Noto Serif", serif;
    margin-left: -5%;
    margin-top: 5%;
}
.lover-img{
    height: 590px;
    width: 537px;
    
}
.lover-div {
    width: 530px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 90px;
    text-align: left;
   
   
}
.lover-div .text-small{
    font-family: "Inter",sans-serif;
    margin-bottom: 45px;
}
.deal-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.two-img{
    display: grid;
    grid-template-rows:1fr 1fr ;
margin-bottom: -5%;
}
.boro-img{
    border-radius: 12px;
    position: relative;
     display: inline-block;
     filter: brightness(0.5);
}
.radius{
    border-radius: 10px;
    display: inline-block;
    position: relative;
    filter: brightness(0.5);
    
}
.text-overlay{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
   margin-left:70px ;
   margin-top: 35px;
     
}
.shop-now{
    color: #ffffff;
    text-decoration: underline;
}
.text-overlay-ana{
        position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
 margin-left: 80px;
 margin-top: 250px;
    
}
.text-overlay-zabo{
      position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 220px;
    margin-top: -250px;
  
}
.button-search{
    width: 180px;
    height: 50px;
    background-color: #E95A08;
    border: none;
    color: #ffffff;
}
.s-box{
    width: 640px;
    height: 46px;
}
.search-box{
    margin: ;
}
.total-bunch-section{

}
.bunch-img{
    width: max-content;
    margin-top: 120px;
    
}
.search-bar{
      position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
   margin-top: -380px;
   margin-left: 305px;
   
}





 .footer {
      background-color: #ffffff;
      
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1300px;
    margin-top: 120px;
    
    margin-bottom: 30px;
    
    }

    .footer-logo {
      flex: 1;
      min-width: 200px;
      margin-left: 40px;
    }

    .footer-logo img {
      width: 100px;
      margin-bottom: 10px;
    }
    .footer-logo .text-small{
        width:300px;
        text-align: left;
    }

    .footer-links {
      display: flex;
      flex: 2;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-left: 110px;
      
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin: 10px;
     
    }

    .footer-column a {
      color: #333;
      text-decoration: none;
      font-size: 14px;
    }

    .footer-column a:hover {
      text-decoration: underline;
    }

    .footer-social {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: 70px;
    
    }

    .footer-social a img {
      width: 24px;
      height: 24px;
      margin-right: 70px;
    }
    .mann{
        display: none;
    }
       .twoo-zabo{
      display: none;
    }
    .text-overlay-z{
      display: none;
    }
    .news{
        display: none;
    }
    .right-hero{
        display: none;
    }

@media (max-width: 500px){


.whole-code{
    justify-items: center;
    width: fit-content;
    
}
.head{
    justify-items: center;
    
}
.width-margin{
    width: 450px;
    margin: auto 90px;
}
.head-left {

    justify-content: center;
    margin-left: 5%;
}
.head-right  .text-small {
    display: none;
   
}
.home{
    display: none;
}
.head{
    margin-left: 8% ;
}
.last-child{
    display: flex;
    
    
        max-width: fit-content;
        flex-direction: row;
        flex-wrap: nowrap;
}
.head-right {
    margin-left:30%;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.first-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
.right-hero {
  display: none;
}
.left-hero {
    order: 2;
    margin-right:30%;
    margin-left:14%;
    flex-wrap: wrap;
    width: fit-content;
}
.rsz-hero{
  order: 1;
    justify-content: center;
    justify-items: center;
    width: fit-content;
    margin-right:18%;
    margin-bottom: 20%;
}
.left-hero .bold-font{
    font-size: xx-large;
}
.text-big{
    font-size: 28px;

}
.carder-upore{

    margin-top: 80%;
    margin-left: 10%;
    text-align: left;
}
.carder-upore .text-big{
   
    margin-right: 19%;
    width: max-content;
}
.carder-upore .card-text{
margin-left: 29%;
}

.cards-father{
 margin-top: 06%;
 display: grid;
    grid-template-columns: repeat(2,35%);
    width: 412px;
    margin-left: 7%;
    row-gap:1% ;
}
.card{
    width: 130px;
   
}
.card .width-margin{
    margin-bottom: 20px;
     margin-right: 10px;
}
.card-img{
    display: none;
}
.card-baccha{

    display: block;
}

.lily{
    width: 130px;
   justify-items: center;
   margin-left: 8%;
}
.text{
    justify-items: center;
    margin-left: 10%;
}
.btn-div{
    width: 130px;
    margin-left: 8%;
    margin-top: 2%;
    
}
.button{
    width: fit-content;
}

.lover-section{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
margin-bottom: 20%;}
.lover{
        margin-left: 13%;
        margin-bottom: 20%;

    }
    .lover-div {
       width: 270px;
       margin-top: 2%;
       margin-left: 3%;
    
    }
    .mann{
        margin-top: -50%;
        display: block;
        margin-left: 7%;
    }
    .lover-img{
        display: none;
    }
    .trust-img{
        display: none;
    }
    .lover-section .text-big{
        
        margin-left: 2%;
        font-size: 28px;
    }

    .twoo-zabo{
  display: block;
  
  border-radius: 9px;
  margin-left: .75%;
   filter: brightness(0.5);
    }
    .text-overlay-z{
        width: 70%;
        position: absolute;
        text-decoration: none;
        color: rgb(255, 255, 255); 
        display: block;
        font-weight: bold;
        font-size: 20px;
        margin: 105% -20% 10% 20%;
    
    }
.boro-img{
    display: none;

}
.deal-container{
    margin-left: 11%;
}
.text-overlay-ana{
    width: 70%;
    margin-left: 11%;
    margin-right: 4%;
}
.text-overlay{
    
    width: 70%;
     margin-left: 11%;
     margin-right: 4%;
}
.text-overlay-zabo{
    display: none;
}
.shop-now-2{
     color: #ffffff;
    text-decoration: underline;
    
    margin-left:18% ;
}
.bunch-img{
    display: none;
}
.news{
    display: block;
    margin-top: 20%;
    margin-left: 7%;
}
.search-bar{
    margin-left: 12%;
    position: absolute;
}
.search-bar .text-big{
    padding-top: 60%;
}
.search-box{
    margin-top: 5%;
    width: 320px;
display: flex;

}
.radius{
    margin-bottom: 2%;
    border: 25px  rgb(255, 255, 255);
}
.footer{
    margin-right: 12%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: left;
    text-align:left;
  margin-left: 80%;
}
.footer-logo{
    margin-left: 3%;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 3%;
}
.footer-column{
    text-align: left;
}
.footer-social{
    margin-left: 11%;
    margin-top: 1%;
    margin-bottom: 05%;
   display: flex;
   flex-direction: row;
   gap: none;
}
       
}


